<style>

.s{

}
.input1{
	height: 40px;
	font-size: 15px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    float: bottom;
	}

.header {
	height:100%;
	//background-color: #9933cc;
    background-color: #0099cc;
	background-image: url("bent.png");
    background-size: 100%;
	background-repeat: no-repeat;
    //background-position: right;
	width: 100%;
}

.header.hbuttons{
    justify-content: top-center;
    align-content: center;
    float: center;
    text-align: center;
}

.button1 {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background-color: #faff00;
    //background-color: #ff5500;
    //border: solid 1px #000;
    margin-right: 20px;
    pointer-events: all;
    margin-bottom: 10px;
    font-size: 15px;
    font-style: bold;
    cursor: pointer;
}

.button1:hover{
    box-shadow:10px 10px 10px 5px  #99ff66;
    transform: scale(1.1);
}

.button2 {
    width: 300px;
    height: 50px;
    color: #000000;
    border-top:none ;
    border-right: none;
    border-left: none;
    border-spacing: none;
    //background-color: #f2f2f2;
    background-color: #ffffff;
    border-bottom-width: 5px;
    position: relative;
    padding:0;
    margin: 0;
    border-spacing:0;
    font-size : 20px;
    margin-right: -15px;
}

.button2:hover{
    border-bottom-color:red; 
}

.button2:selected{
    border-bottom-color:green; 
}

.header.srch{

	width: 30%;
	font-size: 15px;
	border: 1px solid #CCCCCC;
	position: absolute;

}

.content
{
	height: 80%;
    padding-top: 40px; 
}

.content.slide1
{

}

.button1:focus
{
        background-color: #ff3300;
}

.button2:focus
{
        //border-color: #ff3300;
        border-color: #00ff00;
}

#carInfo
{
    background-color: green;
    height:200px;
    padding: 40px;
}

.container1
{
    display: inline-block;
    width:100%;
    padding: 10px;
}

.container1.container2
{
    display: inline-block;
    padding: 10px;
}

.confilter1
{
    background-color: silver;   
}

.header2
{
    background-color: green;
    padding: 70px
}

.nav
{
    background-color: yellow;
    padding:20px;
}
</style>
